@charset "UTF-8";

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}

h1{
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgb(15, 80, 73);
    line-height: 100px;
    text-align: center;
    background-color: rgba(81, 199, 159, 0.918);

}
header{
    min-width: 700px;
    max-width: 1000px;
}

#conteudo{
    width:auto;    
    float:right;
    min-width: 700px;
    max-width: 1000px;

}

#principal {
    width: auto;
    float: left;
}

#secundaria{
    border-radius: 3px;
    width: auto;
    float: right;
    background: royalblue;
    padding: auto;
}
main {
    width: auto;
    padding: auto;
    float: left;
    min-width: 700px;
    max-width: 1000px;

}

nav  {
    border-radius: 3px;
    background: blue;
    width: auto;
    padding: auto;
    float: left;
    min-width: 700px;
    max-width: 960px;

   
}
nav a {
    text-decoration: none;
    color: rgba(15, 29, 24, 0.548);
    min-width: 700px;
    max-width: 1000px;
}